.middle {
  margin: 0 auto;
}

svg {
  height: 30vh;
  display: block;
  animation: rotate 15s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

textPath {
  font-size: 0.76rem;
  font-family: 'Raleway', sans-serif;
}

.content {
  max-height: 45vh;
}

.image__circle {
  transform: translateY(-50%);
  position: relative;
  width: 27vh;
  height: 27vh;
  border-radius: 50%;
  background-color: #363636;
}

.semi-circle {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  border-radius: 0 0 1000px 1000px;
}

picture img {
  width: 100%;
  object-fit: contain;
  filter: contrast(0.85);
  transform: scaleX(-1);
}

@media (min-width: 600px) {
  svg {
    height: 38vh;
  }

  .content {
    max-height: 60vh;
  }

  .image__circle {
    width: 35vh;
    height: 35vh;
  }
}
