<div class="content">
  <svg viewBox="0 0 100 100" class="middle">
    <defs>
      <path id="circle" d="
          M 50, 50
          m -36, 0
          a 36,36 0 1,1 72,0
          a 36,36 0 1,1 -72,0" />
    </defs>
    <text font-size="3.8" letter-spacing="0.55">
      <textPath xlink:href="#circle" startOffset="0%">
        • Mobile developer • Flutter • .NET MAUI • Android • iOS
      </textPath>
    </text>
  </svg>

  <div class="image__circle middle">

    <div class="semi-circle">
      <picture>
        <source media="(min-width: 1000px)" srcset="../../../assets/images/FernandoD-NoBack.png" type="image/webp">
        <img src="../../../assets/images/FernandoD-NoBack-low.png" alt="Fernando Delgadillo photo">
      </picture>

    </div>
  </div>
</div>
