picture img {
  width: 100%;
  border-radius: 10px;
}

.projects .project--title {
  margin: 20px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}

.projects .project--description {
  margin: 20px;
  font-size: 1.4rem;
}

.projects .project--technologies {
  display: inline-block;
  margin: 20px 0 0 0;
}

.projects .project--technologies img {
  width: 40px;
}

.projects .project--technologies p {
  text-align: center;
}

.projects .project--button {
  margin: 20px 0;
  display: flex;
}

.projects .project--button p:hover span {
  filter: invert(1);
}

.projects .project--button p:hover {
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}

.projects .project--button p span {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url('../../../assets/icons/arrow_right.svg');
  background-size: contain;
}

.projects .project--button p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
}


@media (min-width: 600px) {

  .projects .project--description {
    margin: 0;
    font-size: 1.2rem;
  }

}
