<app-header></app-header>

<main>
  <section class="section-cover container">
    <div class="section-cover--name">
      <img src="../assets/images/FDelgadillo.svg" alt="FDelgadillo logo">
      <h2>FDelgadillo.</h2>
    </div>

    <app-img-delgadillo></app-img-delgadillo>

    <div class="section-cover--contact-me">
      <h1>Frontend developer</h1>
      <div>
        <img src="../assets/icons/linkedin.svg" alt="Linkedin icon">
        <img src="../assets/icons/github.svg" alt="Github icon">
        <img src="../assets/icons/twitter.svg" alt="Twitter icon">
      </div>
      <a class="button" href="#Contact">Contact me</a>
    </div>

    <img class="down-arrow" src="../assets/icons/arrow_down.svg" alt="">


  </section>
</main>
