<app-header></app-header>

<main>
  <section class="section-cover container">
    <div class="section-cover--name">
      <img src="../assets/images/FDelgadillo.svg" alt="FDelgadillo logo">
      <h2>FDelgadillo.</h2>
    </div>

    <app-img-delgadillo></app-img-delgadillo>

    <div class="section-cover--contact-me">
      <h1>Mobile developer</h1>
      <div>
        <a href="https://www.linkedin.com/in/lfdelgadillo/" target="_blank"><img src="../assets/icons/linkedin.svg" alt="Linkedin icon"></a>
        <a href="https://github.com/Delmed26" target="_blank"><img src="../assets/icons/github.svg" alt="Github icon"></a>
        <a href="https://twitter.com/Delmed_exe" target="_blank"><img src="../assets/icons/twitter.svg" alt="Twitter icon"></a>
      </div>
      <a class="button" href="#Contact">Contact me</a>
    </div>

    <img class="down-arrow" src="../assets/icons/arrow_down.svg" alt="">

  </section>

  <section id="about">
    <app-banner [number]="01" [title]="'About'"></app-banner>

    <div class="about--content container">
      <div class="about--image">
        <app-img-delgadillo></app-img-delgadillo>

        <h3>Ing. Luis Fernando Delgadillo Medellín</h3>

      </div>

      <section class="about--description container">
        <p>
          Hi, I'm Luis Fernando Delgadillo Medellín, a mobile developer with experience in Android and 3 years of experience in Flutter. I'm currently studying in the field of mobile with Android and Flutter.
        </p>
        <p>
          I am a Computer Software Engineer, and I am currently working as a Mobile developer. I can make mobile apps and websites based on the new technology and user experience.
        </p>
        <p>
          I like to learn new things about technology, programming, and cybersecurity. I am also passionate about UI/UX.
        </p>
        <p>
          Being an autodidact has allowed me to learn a lot of tools that help me to make decisions about what technologies to use with the projects I am developing.
        </p>
      </section>

      <hr>

      <section class="about--education container">
        <p class="title">Education</p>

        <div class="about--education__content">
          <div class="education--school">
            <div>
              <p class="education--school__generation">2025 - current</p>
            </div>
            <div>
              <p class="education--school__title">Master's degree in cybersecurity</p>
              <p class="education--school__name">Universidad Internacional de La Rioja</p>
            </div>
          </div>
        </div>

        <div class="about--education__content">
          <div class="education--school">
            <div>
              <p class="education--school__generation">2017 - 2022</p>
            </div>
            <div>
              <p class="education--school__title">Computer Systems Engineer</p>
              <p class="education--school__name">Instituto Tecnológico de Piedras Negras</p>
            </div>
          </div>
        </div>

        <div class="about--education__content">
          <div class="education--school">
            <div>
              <p class="education--school__generation">2014 - 2027</p>
            </div>
            <div>
              <p class="education--school__title">Programming technician</p>
              <p class="education--school__name">Centro de Bachillerato Tecnológico, Industrial y de Servicios #34</p>
            </div>
          </div>
        </div>
      </section>

    </div>

  </section>

  <section id="projects">
    <app-banner [number]="02" [title]="'Projects'"></app-banner>
    <app-projects></app-projects>
  </section>

  <section id="contact">
    <app-banner [number]="03" [title]="'Contact'"></app-banner>

    <div class="contact--container container">
      <div>
        <h3 class="title">Let's get in touch with me</h3>
        <div class="contact--links">
          <a class="contact--links__text" href="https://github.com/Delmed26" target="_blank">
            <span class="icon github"></span>
            Github
          </a>
          <a class="contact--links__text" href="https://www.linkedin.com/in/lfdelgadillo/" target="_blank">
            <span class="icon linkedin"></span>
            Linkedin
          </a>
          <a class="contact--links__text" href="https://twitter.com/Delmed_exe" target="_blank">
            <span class="icon twitter"></span>
            Twitter
          </a>
        </div>
      </div>
      <hr class="contact--hr">
      <div>
        <h3 class="title">Or download my resume</h3>
        <a href="../assets/files/FDelgadillo_developer.pdf" target="_blank" class="button">Download</a>
      </div>

    </div>
  </section>
</main>

<footer class="container">
  <p>Website designed and developed by Fernando Delgadillo</p>
</footer>
