:root {
  --primary-color: #1A322B;
  --secondary-color: #EAC454;
  --black: #161616;
}

app-header {
  height: 20vh;
}

.section-cover {
  height: 100vh;
  display: grid;
  grid-template-rows: 10vh 50vh 20vh 10vh;
  align-items: center;
}

.section-cover>.section-cover--name {
  position: relative;
  margin: 20px 0;
}

.section-cover>.section-cover--name>img {
  width: 288px;
}

.section-cover>.section-cover--name>h2 {
  position: absolute;
  top: 0;
  font-size: 4.8rem;
  font-family: 'Kaisei Tokumin', serif;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(22, 22, 22, 0.25);
}

.section-cover .section-cover--contact-me h1 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.section-cover .section-cover--contact-me img {
  width: 35px;
  margin-right: 30px;
}

.section-cover .down-arrow {
  color: var(--black);
  margin: 10px auto 0;
  width: 32px;
}

/*  =================================
    ============= About =============
    ================================= */

#about h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 50px;
}

#about .about--description {
  margin-bottom: 50px;
}

#about .about--description p {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 20px;
}

#about .education--school {
  display: grid;
  grid-template-columns: auto 1fr;
  margin-bottom: 20px;
}

#about .education--school__generation {
  margin-right: 10px;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}

#about .education--school__title {
  font-size: 1.4rem;
  font-weight: 600;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}

#about .education--school__name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

/*  ===================================
    ============= Contact =============
    =================================== */
#contact div {
  margin-bottom: 50px;
}

#contact .contact--links__text {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
}

#contact span.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  vertical-align: middle;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#contact span.github {
  background-image: url('../assets/icons/github.svg');
}

#contact span.linkedin {
  background-image: url('../assets/icons/linkedin.svg');
}

#contact span.twitter {
  background-image: url('../assets/icons/twitter.svg');
}


/*  ==================================
    ============= Footer =============
    ================================== */

footer p {
  text-align: center;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 30px;
}

@media (min-width: 600px) {
  .section-cover {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40vh 40vh 10vh;
    grid-template-areas: "logo img" "contact img" "arrow arrow";
    gap: 10px;
  }

  .section-cover .section-cover--name {
    grid-area: logo;
    align-self: flex-end;
  }

  .section-cover app-img-delgadillo {
    grid-area: img;
  }

  .section-cover .section-cover--contact-me {
    grid-area: contact;
    align-self: flex-start;
  }

  .section-cover .down-arrow {
    grid-area: arrow;
    align-self: flex-start;
  }

  .section-cover>.section-cover--name>img {
    width: 241px;
  }

  .section-cover>.section-cover--name>h2 {
    font-size: 4rem;
  }

  .section-cover .section-cover--contact-me h1 {
    font-size: 2.4rem;
  }

  .section-cover .section-cover--contact-me img {
    width: 30px;
    margin-right: 30px;
  }

  #about h3 {
    font-size: 1.6rem;
  }

  #contact .contact--hr {
    display: none;
  }

  #contact .contact--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (min-width: 1000px) {
  .section-cover>.section-cover--name>img {
    width: 430px;
  }

  .section-cover>.section-cover--name>h2 {
    font-size: 7.2rem;
  }


  /*  =================================
    ============= About =============
    ================================= */

  #about .about--content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "banner banner" "description img" "education img";
  }

  #about app-banner {
    grid-area: banner;
  }

  #about .about--image {
    grid-area: img;
  }


  #about hr,
  #about .about--description {
    grid-area: description;
  }

  #about .about--education {
    grid-area: education;
  }
}
