picture img {
  width: 100%;
  border-radius: 10px;
}

.projects {
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-columns: 20% 1fr;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project--technologies-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.projects .project--technologies p {
  text-align: right;
}

.projects .project--title {
  margin: 20px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
}

.projects .project--description {
  margin: 20px 0;
  font-size: 1.4rem;
}

.projects .project--technologies {
  display: inline-block;
}

.projects .project--technologies p {
  text-align: center;
}


.projects .project--button {
  margin: 20px 0;
  display: flex;
}

.projects .project--button p span {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
  background-image: url('../../../assets/icons/arrow_right.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.projects .project--button p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.4rem;
}

.projects .project--button p:hover span {
  filter: invert(1);
}

.projects .project--button p:hover {
  color: #fff;
  background-color: #1A322B;
  border: 1px solid #1A322B;
  border-radius: 10px;
  padding: 10px;
  transition: all 0.3s ease;
}

@media (min-width: 600px) {
  .projects {
    display: grid;
    align-items: center;
    gap: 10px;
    grid-template-columns: 20% 1fr;
    justify-content: space-between;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .projects .project--description {
    margin: 0;
    font-size: 1.2rem;
  }

}
